# Local Development Environment Variables Example
# Duplicate this file to '.env' and edit the values as needed

# Skip preflight checks (e.g. dependency conflicts) if needed during local npm install/start
SKIP_PREFLIGHT_CHECK=true

# Environment context (development, production, test)
NODE_ENV=development

# Sentry Configuration for Error tracking
REACT_APP_ENABLE_SENTRY=false
REACT_APP_SENTRY_RELEASE=

# Base URL for the public files/assets (if hosted under a sub-folder)
PUBLIC_URL=
